/* QUITAR -> ROOT va en    root.css / estilos.css */
:root{
    /* Colores de la página. */
    --naranjaPrimario: #E66B4C;
    --azulSecundario: #17ACBD;
    --colorBlanco: #FFFFFF;
    --colorNegro: #000000;
    --colorTexto:#192252;

    /* FUENTES */
    
    /* font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal; */

/*     font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0; */

/*     font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal; */

}

.inicioFondo{
    width: 100vw;
    height: 100vh;
    /* margin-top: 100px; */

    background-image: url("../images/web/momento-moto-dinno.jpg");
    
    background-size: 100% 100%;
    padding-top: 150px;
    margin-top: 100px;
}


.tituloPáginaInicio{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 10em;
    font-style: italic;
    color: var(--azulSecundario);
    text-align: center;

    letter-spacing: 10px;
    text-shadow: 3px 0px 5px #e66b4c, -3px 0px 5px #e66b4c, 0px 3px 5px #e66b4c, 0px -3px 5px #e66b4c;
}


.textoDescriptivoInicio{
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-size: 3em;

    color: var(--colorBlanco);
    text-align: center;
}
.textoDescriptivoInicio>p{
    display: block;
    width: 70%;
    margin: 0 auto;
    padding-left: 25%;
}


.contenedorBuscador{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Después del Inicio con Fondo */

.inicioContenido{
    width: 100%;
    min-height: 20vh;
}



/* ---------- TODO EL CSS DE LOS MÓDULOS ---------- */
.moduloHorizontal{
    padding: 50px;
}

.moduloHorizontal>h2{
    color: var(--colorTexto);
    letter-spacing: 1px;
    font-size: 2em;
    /* font-style: italic; */
}

.moduloHorizontal>hr{
    height: 3px;
    background-color: var(--colorTexto);
    border: 0px solid black;
    border-radius: 20px;
}

.contenedorTarjetas{
    display: flex;
    flex-wrap: nowrap;
    max-height: 450px;
    
    padding: 40px 0px;
    
    overflow-x: auto;
}

.tarjetaNoticia{
    border: 1px solid black;

    display: inline-block;
    
    
    margin-left: 35px;
    margin-right: 35px;

    min-width: 300px;
    min-height: 350px;

    display: flex;
    flex-direction: column;
}

/* Parte Arriba Tarjeta */
.tarjetaContenedorImagen{

}


/* Parte Abajo Tarjeta */
.tarjetaConetendorContenido{

}
